/* Style the body */
body {
  margin: 0;
  font-family: sans-serif;
}
/* Style the h2 elemetns */
h2 {
  padding: 20px;
  background-color: #00004d;
  color: #ffffff;
}
/* Style the link to the dashboard */
a#dashBoardlink:link {
  float: right;
  background-color: #ffff00;
  color: #00004d;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Style the visisted link to the dashboard */
a#dashBoardlink:visited {
  background-color:#ff9900;
  color: #000000;
}
/* Style the hover over from link to the dashboard */
a#dashBoardlink:hover {
  background-color:#ccffff;
  color: #000000;
}

/* Style the class filterDiv */
.filterDiv {
  /*float: left;*/
  /*background-color: #2196F3;*/
  color: black; /* was white */
  /*width: 100px;*/
  /*line-height: 100px;*/
  /*text-align: center;*/
  /*margin: 2px;*/
  display: none;/* Hidden by default */
}
/* The "show" class is added to the filtered elements */
/* Style the class show */
.show {
  display: block;
}

/* Style the class container */
.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #00004d;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}
/* Add a background and color on mouse-over */
.btn:hover {
  background-color:#ccffff;
  color: #000000;
}
/* Add a background and color to the active button */
.btn.active {
  background-color:#ff9900;
  color: #000000;
}


